body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: aliceblue;
}
#top{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Logo {
  width: 700px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  width: 130px;
  margin: 20px;
}

#characters-btn:hover {
  background-color: aquamarine;
}

#locations-btn:hover {
  background-color: chartreuse;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  color: black;
  max-width: 1000px;
  margin: 70px auto 0px auto;
}
.overlay{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);

  color:white;
  cursor:default;
}
.modalContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close{
  cursor: pointer;
  color:white;
}
.card {
  margin: 20px;
  flex: 1 1 19.5%;
  cursor: pointer;
  border-radius: 15px;
 height: 350px;
}


.buttons-character-page {
  display: flex;
  justify-content: center;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  color: black;
  max-width: 1000px;
  margin: 70px auto 0px auto;
}

#navbar-logo {
  margin: 0;
  padding: 0;
  width: 100px;
} 

.buttons-location-page {
  display: flex;
  justify-content: center;
}

.navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar-location-btn:hover {
  background-color: chartreuse;
  color: white;
}

#navbar-search-on-character-page-btn:hover {
  background-color: aquamarine;
  color: white;
}

#navbar-character-btn:hover {
  background-color: aquamarine;
  color: white;
}
img{
  padding: 10px;
}
#navbar-search-on-location-page-btn:hover {
  background-color: chartreuse;
  color: white;
}

#navbar-logo {
  margin: 0;
  padding: 0;
  width: 100px;
}
.card:hover {

  animation-name: bounce;
    animation-timing-function:linear;
    animation-duration: 0.01s;
    cursor: pointer;
    animation-iteration-count: infinite;
    transform-origin: center;
}
@keyframes bounce {
  0%   { 
      transform-origin: center;
      transform: 
     
      rotate(0deg)
  }

 25%{
      transform: 
      rotate(5deg)   
  }
  50%{
    transform:
    rotate(0deg)
  }
  75%{
    transform:
    rotate(-5deg);
  }

      
  }

h4 {
  font-weight: 340;
  width: 500px;
  text-align: center;
  padding: 15px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  cursor: default;
}

mark {
  background-color:black;
  color: white;
  border-radius: 5px;
  padding: 0;
}

mark.blue:hover {
  color: black;
  background-color: aquamarine;
}

mark.green:hover {
  color: black;
  background-color: chartreuse;
}

.container-for-modal {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);;
  max-width: 700px;
}